@inject Alpha_Hotel_Project.Areas.Manage.Services.LayoutService service

@{
    AppUser appUser = await service.GetUser();
}
<header class="top-header" id="top-header-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-7">
                <div class="list-inline">
                    <a href="tel:+55-4XX-634-7071"><i class="fa fa-phone"></i>Need Support? +00-4X6-634-781</a>
                    <a href="tel:info@themevessel.com" class="d-none-768"><i class="fa fa-envelope"></i>info@themevessel.com</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-5">
                <ul class="top-social-media pull-right">
                    @if (User.Identity.IsAuthenticated is false)
                    {
                        <li>
                            <a asp-action="login" itemid="staff" asp-controller="account"><i class="fa fa-address-book"></i></a>
                        </li>
                        <li>
                            <a asp-action="register" asp-controller="account"><i class="fa fa-address-book"></i></a>
                        </li>

                    }
                    else
                    {
                        <li>
                            <i class="fa fa-user" aria-hidden="true"></i><p1 class="text-success">@appUser.Fullname</p1>
                            <a asp-action="logout" asp-controller="account"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>